services:
  postgres:
    image: postgres:18
    container_name: mini_airflow_postgres
    env_file: .env
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: redis:8.4
    container_name: mini_airflow_redis
    ports:
      - "6379:6379"

  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
    container_name: mini_airflow_api
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis

  scheduler:
    build:
      context: .
      dockerfile: docker/scheduler.Dockerfile
    container_name: mini_airflow_scheduler
    env_file: .env
    depends_on:
      - postgres
      - redis

  worker:
    build:
      context: .
      dockerfile: docker/worker.Dockerfile
    container_name: mini_airflow_worker
    env_file: .env
    depends_on:
      - postgres
      - redis

volumes:
  postgres_data:
